<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My WishList</title>
</head>
<body>
    
    <div class="container">
        <h1>
            <%= dateToRender %>
        </h1>
        <form action="/" method="POST">
            <input type="text" name="userWish" placeholder="add a wish">
            <button type="submit">Add a Wish</button>
        </form>

        <div class="wish-container">

        </div>
    </div>

</body>
</html>